.NavLink:hover {
    color: #7A26C1;
    transition: color ease-in-out 0.3s;
}

.NavLink {
    font-size: 20px;
    text-decoration: none;
    color: #504A4B;
}

.NavLink svg {
    margin: 0 10px;
}

.NavBar {
    border: 1px solid #dadadf;
}